body:after {
    content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
    display: none;
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .lightboxOverlay,.lightbox {
      width:100%;
    }
  }




