#navbarwrap {
    /* Spans the width of the page */
    height: 60px;
    /* Ensures there is no space between sides of the screen and the menu */
    z-index: 99; /* Makes sure that your menu remains on top of other page elements */
    position: relative;
    margin: auto;
    margin-top: 10px;
}
.navbar {
    height: 50px;
    padding: 0;
    margin: auto;
    margin-left: 10px;
    position: absolute; /* Ensures that the menu doesn’t affect other elements */
}
    .navbar li {
        height: auto;
        width: 171.5px; /* Each menu item's width */
        float: left; /* This lines up the menu items horizontally */
        text-align: center; /* All text is placed in the center of the box */
        list-style: none; /* Removes the default styling (bullets) for the list */
        font: normal bold 12px/1.2em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #876363;
    }